@media (max-width:1000px){
.container{
    flex-direction: column;
}
}


body{

}

header {
    position: sticky;
    background-color: whitesmoke;
    /* width: 110%; */
    /* padding: 5px; */
    /* margin: -10px; */
    /* margin-top: -3%; */
    /* min-height: 100%; */
    text-align: center;
    /* vertical-align: top; */
    font-size: 130%;
    font-family:"Lucida Console", "Courier New", monospace;
    /* box-shadow: 0 0 30px 1px #222236ad; */
}

.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    
}

.content{
    background-color: whitesmoke;
    border-radius: 5px;
    width: 25%;
    padding: 1em;
    margin: .5em;
    height: 500px;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    /* -ms-flex-align: center; */
    /* max-height: 300px; */
    justify-content: center;
    /* align-items:center; */
    /* position: relative; */
    transition: all .3s ease-in;
}
.content input{
    max-height: 50vh;
    border: 5px solid white;
    border-radius: 5px;
    /* margin: auto; */
    /* display: block; */
    max-width: 400px;
    position: absolute;
    transform: translate(8%,0%);
}

.content h2{
    background-color: white;
    border-radius: 5px;
    padding: 1px;
    text-align: center;
}
.text{
    float: right;
    display: block;
    /* vertical-align: middle; */
    visibility: hidden;
    background-color: white;
    border-radius: 5px;
    padding: 1px;
    max-width: 60ch;
    /* white-space: nowrap; */

}